@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #ffffff;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 17px;
  display: flex;
  display: none;
  padding: 2%;
}

#brand a {
  color: #969696;
}

#nav-abierto{
  text-align: center;
}

#nav-abierto ul {
  list-style: none;
  height: 15%;
  display:flex;
  align-items: center;
  justify-content: space-around;
}


#nav-abierto ul li {
  padding: 5px;
  margin-left: 10px;
}

#nav-abierto ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}


#hamburger-icon {
  margin: auto 0;
  display: flex;
  display: none;
  cursor: pointer;
  padding: 2%;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

#tabla1{
  margin: 5%;
  width: 90%;
  text-align: center;
}
#tabla2{
  margin: 5%;
  width: 90%;
  text-align: center;
  display: none;
}

@media only screen and (max-width: 700px) {
  #nav-abierto {
    display: none;
  }
  #nombre-pantalla-grande{
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  #brand {
    display: block;
  }

  #tabla1{
    display: none;
  }
  #tabla2{
    display: block;
  }

}

/* Mío */
.enlacesNav{
  -webkit-font-smoothing: antialiased;
  font: 13px sans-serif;
  line-height: 1.22;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  list-style: none;
  visibility: visible;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: 0 0;
  color: rgb(0, 0, 0);
  font-family: Questrial, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.barraNavega {
  position: centre;
  display: flex;
}

.contenedor-flexbox {
  display: flex; /*Convertimos al menú en flexbox*/
  justify-content: space-between; /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
  align-items: center; /*con esto alineamos de manera vertical*/
}

/*PIE DE PÁGINA*/
footer {
  color: rgb(31, 31, 31);
  padding: 20px;
}

footer p {
  margin: 0;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

footer li {
  list-style: none;
}

footer a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

footer a:hover {
  color: #ccc;
}

/* Si la pantalla es más grande de 800px, el pie de página ocupará el 100% del ancho de la pantalla */
@media (min-width: 800px) {
  footer {
    width: 100%;
  }
}

/* Si la pantalla es más pequeña de 800px, el pie de página ocupará el 90% del ancho de la pantalla */
@media (max-width: 800px) {
  footer {
    width: 90%;
  }
}
#pie-pagina{
  -webkit-font-smoothing: antialiased;
  font: 13px sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  visibility: visible;
  color: rgb(79, 79, 79);
  font-family: Questrial, sans-serif;
  line-height: 22px;
  letter-spacing: 0.25px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  margin-bottom: 0;
  word-wrap: break-word;
  text-align: center;
}